<div class="contenedorregistro">
<div class="center-block">


  <div class="has-success">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>    

<% resource.errors.each do |atributo, mensaje| %>
      <%if(mensaje!="can't be blank") && (mensaje!="is invalid") then %>
          <div class="alert alert-danger">
            <%= mensaje %>
          </div>
      <%end%>
<% end %>

<div class= "camporegistro">
        <% if flash[:warning] %>
           <div class="alert alert-warning">
              <%= flash[:warning] %>
            </div>
         <% end %>
</div>



     <div class= "camporegistro">
      <%= f.label :Nombre %>
      <%= f.text_field :nombre,class:'form-control' %>
      </div>

     
  <div class= "camporegistro">
      <%= f.label :Apellido %>
      <%= f.text_field :apellido,class:'form-control'%>

  </div>


 <div class= "camporegistro">
       <%= f.label :DNI %>
      <%= f.text_field :dni,class:'form-control' %>
  </div>




   <div class= "camporegistro">
     <%= f.label :"Nombre de usuario" %>
     <%= f.text_field :nomusuario,class:'form-control' %>
</div>


   <div class= "camporegistro">
     <%= f.label :Contraseña %>
     <%= f.password_field :password,class:'form-control' %>
</div>


      <div class= "camporegistro">
      <%= f.label :"Confirmación de Contraseña" %>
      <%= f.password_field :password_confirmation,class:'form-control' %>
    </div>

    <div class= "camporegistro"> 
      <%= f.label :email %>
      <%= f.email_field :email,class:'form-control' %>
    </div>


<div class="camporegistro_telefono_izq">
      <%= f.label :"Caracteristica- " %>
     <%= f.text_field :tel_caract,class:'form-control' %>
</div>
<div class="camporegistro_telefono_der">
<%= f.label :"Telefono" %>
     <%= f.text_field :tel_num,class:'form-control' %>
</div>



  <div class= "camporegistro">
  <%= f.label :"Fecha de Nacimiento" %>
  <%= f.date_field :fechanac,class:'form-control' %>
  
</div>

   <div class= "camporegistro">
      <center><%= f.label :Sexo %>
      <br/>  
      <%= f.radio_button :sexo, true  %> <%= f.label :sexo, "Masculino" %>
      <%= f.radio_button :sexo, false %> <%= f.label :sexo, "Femenino" %></center>
  </div>




  <div class= "camporegistro">
    <center><%= f.label :Nacionalidad %>
    <%= country_select("usuario", "nacionalidad") %></center> 
  </div>



  <div class= "camporegistro">
    <center><%= f.submit "Crear una cuenta", class: "btn btn-success btn-lg" %>
    <%= link_to "Volver", hospedajes_path, class: 'btn btn-warning btn-lg' %></center>
  </div>

</form>



<% end %>


</div>

</div>

</div>

