<div class="contenedorlogin">
<div class="center-block">


  <div class="form-group has-success has-feedback">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="campologin">
    <%= f.label :email %><br />
    <%= f.email_field :email,class:'form-control' %>
  </div>

  <div class="campologin">
    <%= f.label :contraseña %><br />
    <%= f.password_field :password,class:'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="campologin">
      <%= f.check_box :remember_me %>
      <%= f.label :Recordar_usuario %>
    </div>
  <% end -%>

  <div class="campologin">
    <center><%= f.submit "Log in",class: "btn btn-success btn-lg" %>
    <%= link_to "Volver", hospedajes_path, class: 'btn btn-warning btn-lg' %> </CENTER>
 </div>

<% end %>

<%- flash.each do |name, msg| -%>
  <div class="alert alert-danger">
    <% if msg.is_a?(String) %>
      Usuario y/o contraseña invalidos
      <%end%>
    </div>
  <%- end -%>  
  <div class="campologin">
    <%= render "usuarios/shared/links" %>
  </div>
</div>
</div>
</div>
